@charset "utf-8";

/*
base_style
*/
body{
    font-family: 'Noto Sans JP', sans-serif, "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

/*カーソル*/
label, input, textarea, select, button {
    cursor: pointer;
}

/*button*/
.button {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background: #333;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0;
    transition: box-shadow .25s;
}
.button:hover {
    box-shadow: 0 0 0 #bbb;
}
.button.button-submission {
    background: #92d3ca;
}

/*
section
*/
.section {
    padding: 30 40px;
    margin: 0 0 20px;
}
.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 20px;
}
.section.section-second{
    background: #529792a3;
}
.section.section-third{
    background: #ffffff;
}
.section-button {
    margin-top: 40px;
    text-align: center;
}

/*
hero
*/

.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.hero > strong {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: teal;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
}
.hero > video {
    z-index: 1;
    position: absolute;
    width: auto;
    height: 105%;
}
@media screen and (max-width: 768px){
    .hero > strong {
        font-size: 50px;
    }
}


/*
about
*/
.about {
    margin: 0;
    display: flex;
}
.about-image {
    padding-left: 20px;
    margin: 0 0 40px;
}
.about-caption {
    padding-left: 20px;
}
.about-headline {
    margin: 0 0 20px;
    font-size: 30px;
}
.about-description {
    font-size: 20px;
}
@media screen and (max-width: 768px){
    .about{
        display: flex;
    }
    .about-image {
        max-width: 50%;
        max-height: 50%;
    }
}


/*
grid
*/
.grid {
    display: flex;
    margin: 0;
    padding: 10px;
    align-items: top;
    justify-content: center;
}
.grid-item {
    list-style: none;
}
.grid-col-2 > .grid-item {
    width: 50%
}
.grid-col-3 > .grid-item {
    width: 33.3%
}
.grid-col-4 > .grid-item {
    width: 25%
}
@media screen and (max-width: 768px){
    .grid{
        display: block;
    }
    .grid-col-2 > .grid-item,
    .grid-col-3 > .grid-item,
    .grid-col-4 > .grid-item {
        width: 100%;
        margin: 20px 0;
    }
}




/*
hobby
*/
.hobby {
    text-align: center;
    padding: 0,15px;
}
.hobby-headline {
    font-weight: bold;
    margin: 0 0 20px;
}
.hobby-img {
    margin: 0 0 20px;
}
.hobby-description {
    text-align: left;
    margin: 10px;
}

/*工事中*/
.constructing {
    text-align: center;
    font-size: 20px;
}


/*
contact
*/
.select {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
}
.input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
}
.textarea {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;  
    min-height: 100px;  
}
.form-table {
    margin: 0 auto;
}
.form-table th {
    padding: 10px;
    text-align: left;
}
.form-table {
    padding: 10px;
}
.form-button {
    text-align: center;
    margin: 20px;
}
@media screen and (max-width: 768px){
    .select,
    .input,
    .textarea {
        min-width: auto;
        width: 100%;
    }
}


/*
works
*/
.works {
    margin: 20px 40px 0;
    padding: 20px;
    text-align: center;
}
.works > a {
    margin: 0 20px;
}
@media screen and (max-width: 768px){
    .works {
        margin: 20px 0;
        padding: 10px;
    }
    .works > a {
        width: 100px;
        margin: 20px 30;
    }
}

/*
footer
*/
.footer {
    background: #529792a3;
}
.footer-map {
    margin: 0;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-map > iframe {
    width: 60%;
}
.footer-mapinfo {
    width: 40%;
    padding: 15px;
}
.footer-maplogo {}
.footer-mapaddress {
    font-style: normal;
}
.footer-mapaddress > a {
    font-style: normal;
}
.footer-line {
    border-color: teal;
}
.footer-copy {
    display: block;
    text-align: center;
    padding: 10px;
}